<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head> 
    <meta name="google-site-verification" content="Fom_BSspdrv7LgC21_cP28Kri7_6QE9zFiDYKkIAV_s" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'lazysizes.js' | asset_url }}" as="script">
    {%- assign header_font = settings.type_header_font -%}
    {%- assign base_font = settings.type_base_font -%}
    {%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
    {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
    {%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
    {%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
    {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
    {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% include 'social-meta-tags' %}

    {% include 'css-variables' %}

    <style>*,::after,::before{box-sizing:border-box}body{margin:0}body,html{background-color:var(--color-body)}body,button{font-size:calc(var(--font-size-base) * 1px);font-family:var(--font-stack-body);font-style:var(--font-style-body);font-weight:var(--font-weight-body);color:var(--color-text);line-height:1.5}body,button{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}.border-bottom{border-bottom:1px solid var(--color-border)}.btn--link{background-color:transparent;border:0;margin:0;color:var(--color-text);text-align:left}.text-right{text-align:right}.icon{display:inline-block;width:20px;height:20px;vertical-align:middle;fill:currentColor}.icon__fallback-text,.visually-hidden{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}svg.icon:not(.icon--full-color) circle,svg.icon:not(.icon--full-color) ellipse,svg.icon:not(.icon--full-color) g,svg.icon:not(.icon--full-color) line,svg.icon:not(.icon--full-color) path,svg.icon:not(.icon--full-color) polygon,svg.icon:not(.icon--full-color) polyline,svg.icon:not(.icon--full-color) rect,symbol.icon:not(.icon--full-color) circle,symbol.icon:not(.icon--full-color) ellipse,symbol.icon:not(.icon--full-color) g,symbol.icon:not(.icon--full-color) line,symbol.icon:not(.icon--full-color) path,symbol.icon:not(.icon--full-color) polygon,symbol.icon:not(.icon--full-color) polyline,symbol.icon:not(.icon--full-color) rect{fill:inherit;stroke:inherit}li{list-style:none}.list--inline{padding:0;margin:0}.list--inline>li{display:inline-block;margin-bottom:0;vertical-align:middle}a{color:var(--color-text);text-decoration:none}.h1,.h2,h1,h2{margin:0 0 17.5px;font-family:var(--font-stack-header);font-style:var(--font-style-header);font-weight:var(--font-weight-header);line-height:1.2;overflow-wrap:break-word;word-wrap:break-word}.h1 a,.h2 a,h1 a,h2 a{color:inherit;text-decoration:none;font-weight:inherit}.h1,h1{font-size:calc(((var(--font-h1-desktop))/ (var(--font-size-base))) * 1em);text-transform:none;letter-spacing:0}@media only screen and (max-width:749px){.h1,h1{font-size:calc(((var(--font-h1-mobile))/ (var(--font-size-base))) * 1em)}}.h2,h2{font-size:calc(((var(--font-h2-desktop))/ (var(--font-size-base))) * 1em);}@media only screen and (max-width:749px){.h2,h2{font-size:calc(((var(--font-h2-mobile))/ (var(--font-size-base))) * 1em)}}@media only screen and (max-width:749px){p{font-size:calc(((var(--font-size-base) - 1)/ (var(--font-size-base))) * 1em)}}p:last-child{margin-bottom:0}@media only screen and (max-width:749px){.small--hide{display:none!important}}.grid{list-style:none;margin:0;padding:0;margin-left:-30px}.grid::after{content:'';display:table;clear:both}@media only screen and (max-width:749px){.grid{margin-left:-22px}}.grid::after{content:'';display:table;clear:both}.grid--no-gutters{margin-left:0}.grid--no-gutters .grid__item{padding-left:0}.grid--table{display:table;table-layout:fixed;width:100%}.grid--table>.grid__item{float:none;display:table-cell;vertical-align:middle}.grid__item{float:left;padding-left:30px;width:100%}@media only screen and (max-width:749px){.grid__item{padding-left:22px}}.grid__item[class*="--push"]{position:relative}@media only screen and (min-width:750px){.medium-up--one-quarter{width:25%}.medium-up--push-one-third{width:33.33%}.medium-up--one-half{width:50%}.medium-up--push-one-third{left:33.33%;position:relative}}.site-header{position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header{border-bottom:1px solid var(--color-border)}}@media only screen and (min-width:750px){.site-header{padding:0 55px}.site-header.logo--center{padding-top:30px}}.site-header__logo{margin:15px 0}.logo-align--center .site-header__logo{text-align:center;margin:0 auto}@media only screen and (max-width:749px){.logo-align--center .site-header__logo{text-align:left;margin:15px 0}}@media only screen and (max-width:749px){.site-header__logo{padding-left:22px;text-align:left}.site-header__logo img{margin:0}}.site-header__logo-link{display:inline-block;word-break:break-word}@media only screen and (min-width:750px){.logo-align--center .site-header__logo-link{margin:0 auto}}.site-header__logo-image{display:block}@media only screen and (min-width:750px){.site-header__logo-image{margin:0 auto}}.site-header__logo-image img{width:100%}.site-header__logo-image--centered img{margin:0 auto}.site-header__logo img{display:block}.site-header__icons{position:relative;white-space:nowrap}@media only screen and (max-width:749px){.site-header__icons{width:auto;padding-right:13px}.site-header__icons .btn--link,.site-header__icons .site-header__cart{font-size:calc(((var(--font-size-base))/ (var(--font-size-base))) * 1em)}}.site-header__icons-wrapper{position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-webkit-justify-content:flex-end;-ms-justify-content:flex-end;justify-content:flex-end}.site-header__account,.site-header__cart,.site-header__search{position:relative}.site-header__search.site-header__icon{display:none}@media only screen and (min-width:1400px){.site-header__search.site-header__icon{display:block}}.site-header__search-toggle{display:block}@media only screen and (min-width:750px){.site-header__account,.site-header__cart{padding:10px 11px}}.site-header__cart-title,.site-header__search-title{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;display:block;vertical-align:middle}.site-header__cart-title{margin-right:3px}.site-header__cart-count{display:flex;align-items:center;justify-content:center;position:absolute;right:.4rem;top:.2rem;font-weight:700;background-color:var(--color-btn-primary);color:var(--color-btn-primary-text);border-radius:50%;min-width:1em;height:1em}.site-header__cart-count span{font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:calc(11em / 16);line-height:1}@media only screen and (max-width:749px){.site-header__cart-count{top:calc(7em / 16);right:0;border-radius:50%;min-width:calc(19em / 16);height:calc(19em / 16)}}@media only screen and (max-width:749px){.site-header__cart-count span{padding:.25em calc(6em / 16);font-size:12px}}.site-header__menu{display:none}@media only screen and (max-width:749px){.site-header__icon{display:inline-block;vertical-align:middle;padding:10px 11px;margin:0}}@media only screen and (min-width:750px){.site-header__icon .icon-search{margin-right:3px}}.announcement-bar{z-index:10;position:relative;text-align:center;border-bottom:1px solid transparent;padding:2px}.announcement-bar__link{display:block}.announcement-bar__message{display:block;padding:11px 22px;font-size:calc(((16)/ (var(--font-size-base))) * 1em);font-weight:var(--font-weight-header)}@media only screen and (min-width:750px){.announcement-bar__message{padding-left:55px;padding-right:55px}}.site-nav{position:relative;padding:0;text-align:center;margin:25px 0}.site-nav a{padding:3px 10px}.site-nav__link{display:block;white-space:nowrap}.site-nav--centered .site-nav__link{padding-top:0}.site-nav__link .icon-chevron-down{width:calc(8em / 16);height:calc(8em / 16);margin-left:.5rem}.site-nav__label{border-bottom:1px solid transparent}.site-nav__link--active .site-nav__label{border-bottom-color:var(--color-text)}.site-nav__link--button{border:none;background-color:transparent;padding:3px 10px}.site-header__mobile-nav{z-index:11;position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header__mobile-nav{display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center}}.mobile-nav--open .icon-close{display:none}.main-content{opacity:0}.main-content .shopify-section{display:none}.main-content .shopify-section:first-child{display:inherit}.critical-hidden{display:none}</style>

    {%- if template == 'index' or template=='page.product-cannabies' or template=='page.all-pages' -%}{%- else -%}

    <script>
      window.performance.mark('debut:theme_stylesheet_loaded.start');

      function onLoadStylesheet() {
        performance.mark('debut:theme_stylesheet_loaded.end');
        performance.measure('debut:theme_stylesheet_loaded', 'debut:theme_stylesheet_loaded.start', 'debut:theme_stylesheet_loaded.end');

        var url = "{{ 'theme.css' | asset_url }}";
        var link = document.querySelector('link[href="' + url + '"]');
        link.loaded = true;
        link.dispatchEvent(new Event('load'));
      }
    </script>

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css" media="print" onload="this.media='all';onLoadStylesheet()">
    {%- endif -%}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }} 
    {{ 'slick.css' | asset_url | stylesheet_tag }}  
    {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css' | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css' | stylesheet_tag }}  
    {{ '//fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap' | stylesheet_tag }} 

    {{ 'navigation.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}    

    {{ 'overlay.css' | asset_url | stylesheet_tag }}   
    {{ 'custom.css' | asset_url | stylesheet_tag }}   
    {{ 'drop.css' | asset_url | stylesheet_tag }}  
    {{ 'fresco.css' | asset_url | stylesheet_tag }}  
    {{ 'video-module.css' | asset_url | stylesheet_tag }}
    {{ '//unpkg.com/aos@next/dist/aos.css' | stylesheet_tag }}

    {% if page.template_suffix == 'new-register' %}
    {{ 'new-register-custom.css' | asset_url | stylesheet_tag }} 
    {% endif %}

    <style>
      {{ header_font | font_face: font_display: 'swap' }}
      {{ base_font | font_face: font_display: 'swap' }}
      {{ base_font_bold | font_face: font_display: 'swap' }}
      {{ base_font_bolder | font_face: font_display: 'swap' }}
      {{ base_font_italic | font_face: font_display: 'swap' }}
      {{ base_font_bold_italic | font_face: font_display: 'swap' }}
    </style>

    <script>
      var theme = {
        breakpoints: {
          medium: 750,
          large: 990,
          widescreen: 1400
        },
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          regularPrice: {{ 'products.product.regular_price' | t | json }},
          salePrice: {{ 'products.product.sale_price' | t | json }},
          sale: {{ 'products.product.on_sale' | t | json }},
          fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
          vendor: {{'products.product.vendor' | t | json }},
          showMore: {{ 'general.filters.show_more' | t | json }},
          showLess: {{ 'general.filters.show_less' | t | json }},
          searchFor: {{ 'general.search.search_for' | t | json }},
          addressError: {{ 'sections.map.address_error' | t | json }},
          addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
          addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
          authError: {{ 'sections.map.auth_error_html' | t | json }},
          newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
          external: {{ 'general.accessibility.link_messages.external' | t | json }},
          newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
          removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
          update: {{ 'cart.label.update' | t | json }},
          quantity: {{ 'cart.label.quantity' | t | json }},
          discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
          regularTotal: {{ 'cart.label.regular_total' | t | json }},
          priceColumn: {{ 'cart.label.price_column' | t | json }},
          quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
          cartError: {{ 'cart.general.cart_error' | t | json }},
          removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
          unitPrice: {{ 'products.product.unit_price_label' | t | json }},
          unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
          oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
          otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
          quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
          products: {{ 'general.search.products' | t | json }},
          loading: {{ 'general.search.loading' | t | json }},
          number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
          number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
          one_result_found: {{ 'general.search.one_result_found' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }},
        moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
        settings: {
        predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
        predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
        predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
      },
        stylesheet: "{{ 'theme.css' | asset_url }}"
      }
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
        
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" defer></script>
    <script src="{{ 'swiper-element-bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>

    <script type="text/javascript">
      if (window.MSInputMethodContext && document.documentMode) {
        var scripts = document.getElementsByTagName('script')[0];
        var polyfill = document.createElement("script");
        polyfill.defer = true;
        polyfill.src = "{{ 'ie11CustomProperties.min.js' | asset_url }}";
        scripts.parentNode.insertBefore(polyfill, scripts);
      }
    </script>
    {{ content_for_header }}
  
{% include 'globo.formbuilder.scripts' %}
</head>
  {% if template != 'customers/login'%}
  <body class="{%- if template =='page.first-class-funk' or template =='page.z-splitter' or template =='page.khalifa-mints' or template =='page.hasho-gmo' or template =='page.cream-cake' or template =='page.king-sherb' or template =='page.baklava' or template =='page.white-rntzsi'  or template =='page.donny-burger' -%}black-bg {%elsif template =='page.leagues'%}no-ft{%else %}black-bg2{%endif%}">
    {% endif %}
   {%section 'section-topbar'%} 
   {%- if template != 'page.typeform' or template !='page.social-media' -%} {% section 'header-new' %}{%endif%}
 
    {{ content_for_layout }}

    {% if template != 'page.typeform' or template !='page.social-media' %}{% section 'footer-new' %}{%endif%}
    <script type="application/json" data-cart-routes>
    {
      "cartUrl": "{{ routes.cart_url }}",
      "cartAddUrl": "{{ routes.cart_add_url }}",
      "cartChangeUrl": "{{ routes.cart_change_url }}"
    }
    </script>
   
 
     {{ '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' | script_tag }} 
    {{ '//unpkg.com/aos@next/dist/aos.js' | script_tag }}
     <script> AOS.init();</script>
    {{ 'bootstrap.min.js' | asset_url | script_tag }} 
    {{ 'slick.js' | asset_url | script_tag }}
    {{ 'overlay.js' |asset_url| script_tag }} 
    {{ 'fresco.js' |asset_url| script_tag }}
    {{ 'drop.min.js' |asset_url| script_tag }}
    {{ 'parallax.min.js' | asset_url | script_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.js' | script_tag }}
    {{ 'core.js' |asset_url| script_tag }}
    {% if template == 'page.strains-product' %}
    {{ '//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js' | script_tag }} 
    {% endif %}
    {{ '//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js' | script_tag }} 

    {% section 'login-popup' %}
    {% section 'search-popup' %}
    {% section 'cart-modal' %}
   
    <script>
      $('.strain-owl-carousel-case').owlCarousel({
			  loop: true,
			  margin: 20,
			  nav: true,
			  navText: [
			    "<img src='https://cdn.shopify.com/s/files/1/0607/7104/1503/files/left-arw.svg?v=1656065062'>",
			    "<img src='https://cdn.shopify.com/s/files/1/0607/7104/1503/files/right-arw.svg?v=1656065079'>"
			  ],
			  autoplay: false,
			  autoplayHoverPause: true,
			  responsive: {
			    0: {
                  loop:true,
			      items: 1.2,
                   nav: false,
                  margin: 10,
                  
			    },
			    600: {
			      items: 2
			    },
			    1000: {
			      items: 3
			    }
			  },
			  
			});
  	$('.owl-carousel-case').owlCarousel({
			  loop: true,
			  margin: 20,
			  nav: true,
			  navText: [
			    "<img src='https://cdn.shopify.com/s/files/1/0607/7104/1503/files/left-arw.svg?v=1656065062'>",
			    "<img src='https://cdn.shopify.com/s/files/1/0607/7104/1503/files/right-arw.svg?v=1656065079'>"
			  ],
			  autoplay: false,
			  autoplayHoverPause: true,
			  responsive: {
			    0: {
                  loop:true,
			      items: 1.2,
                   nav: false,
                  margin: 10,
                  
			    },
			    600: {
			      items: 2
			    },
			    1000: {
			      items: 3
			    }
			  },
			  
			});
      $('.owl-carousel-case2').owlCarousel({
			  loop: true,
			  margin: 20,
			  nav: true,
			  navText: [
			    "<img src='https://cdn.shopify.com/s/files/1/0607/7104/1503/files/left-arw.svg?v=1656065062'>",
			    "<img src='https://cdn.shopify.com/s/files/1/0607/7104/1503/files/right-arw.svg?v=1656065079'>"
			  ],
			  autoplay: false,
			  autoplayHoverPause: true,
			  responsive: {
			    0: {
                  loop:true,
			      items: 1.2,
                   nav: false,
                  margin: 10,
                  
			    },
			    600: {
			      items: 2
			    },
			    1000: {
			      items: 3
			    }
			  },
			  
			});
    </script>
    <script type="text/javascript">
      $(function() {
        var logo = $(".lrg-logo");
        $(window).scroll(function() {
          var scroll = $(window).scrollTop();
          if (scroll >= 2) {
            $('#dynamic').addClass('newClass');
          } else {
            $('#dynamic').removeClass('newClass');
          }
        });
        if ($('.smart-scroll').length > 0) { // check if element exists
          var last_scroll_top = 0;
          $(window).on('scroll', function () {
            scroll_top = $(this).scrollTop();
            if (scroll_top < last_scroll_top) {
              $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
            } else {
              $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
            }
            last_scroll_top = scroll_top;
          });
        }
      });
      $('.logo-slider').slick({
        dots:false,
        infinite: true,
        variableWidth: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        centerMode: false,
        responsive: [
			   
			    {
			     breakpoint: 600,
			      settings: {
			        slidesToShow: 3,
			        slidesToScroll: 1,
					
			      }
			    }
			   
			  ]
      });
      $('.top-slider').slick({
			  dots: false,
			infinite: true,
			  speed: 300,
			  slidesToShow: 1,
			  slidesToScroll: 1,
			  responsive: [
			    {
			      breakpoint: 1024,
			      settings: {
			        slidesToShow: 1,
			        slidesToScroll: 1,
			        infinite: true,
			        
			      }
			    },
			    {
			      breakpoint: 767,
			      settings: {
			        slidesToShow: 1,
			        slidesToScroll: 1,
						  prevArrow: true,
			    nextArrow: true,
			      }
			    },
			    {
			      breakpoint: 480,
			      settings: {
			        slidesToShow: 1,
			        slidesToScroll: 1,
					
			      }
			    }
			    // You can unslick at a given breakpoint now by adding:
			    // settings: "unslick"
			    // instead of a settings object
			  ]
			});
      $(window).on("load", function () {
        $(".drop-water").each(function () {
          var w = $(this).attr("data-drop-width");
          var h = $(this).attr("data-drop-height");
          var t = $(this).attr("data-drop-time");
          var t = t / 1000;
          $(this).css({
            "width": w + "px",
            "height": h + "px",
            "transition": t + "s"
          });
        });
        DROP.init();
      });
      $('.slider').slick({
        arrows:false, dots: false, infinite:true, speed:500,
        autoplay:false, autoplaySpeed: 3000, slidesToShow:1, slidesToScroll:1,
        responsive: [
          {
            breakpoint: 767,
            settings: {
              arrows:false, 
              dots: true,
              infinite:true,
              speed:500,
              slidesToShow: 1,
              centerMode: false, /* set centerMode to false to show complete slide instead of 3 */
              slidesToScroll: 1
            }
          }
        ]
      });
      
      $('.slider-nav > div').click(function() {
        $('.slider').slick('slickGoTo',$(this).index());
      })
      $('.palceholder').click(function() {
        $(this).siblings('input[type=text], input[type=email]').focus();
      });
      $('.input-c').focus(function() {
        $(this).siblings('.palceholder').hide();
      });
      $('.input-c').blur(function() {
        var $this = $(this);
        if ($this.val().length == 0)
          $(this).siblings('.palceholder').show();
      });
      $('.input-c').blur();
    </script>
    <script>
      $(function(){
        $('#create_customer').submit(function(e) {     
          if ( $('input[name="customer[password]"]').val() != $('input[name="customer[password_confirmation]"]').val()) {
            e.preventDefault();
            alert('Passwords do not match.');
          }
        });
      });
    </script>
    {%- if template == 'index' -%}
    {%section 'section-age-popup'%}
    {%endif%}

    {% render 'banana-stand-footer' %}
    {% section 'share-popup' %}
  
    <!-- Back in Stock helper snippet -->
    {% render 'back-in-stock-helper' %}
    <!-- End Back in Stock helper snippet -->

<!-- **BEGIN** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_fsb_main', product: product, customer: customer %}
    <!-- **END** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
{% include 'discountly' %}
</body>

  <script>
    const instance = new Typewriter('.typewriter', {
      strings: ['ghost gang'],
      autoStart: true,
      loop: true,
    });
    const instance2 = new Typewriter('.typewriter_mob', {
      strings: ['ghost gang'],
      autoStart: true,
      loop: true,
    });
    $(function(){
      $('img').each(function(e){
        var src = $(e).attr('src');
        $(e).hover(function(){
          $(this).attr('src', src.replace('.gif', '_anim.gif'));
        }, function(){
          $(this).attr('src', src);
        });
      });
    });
  </script>
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  <script>
    $(document).ready(function() {
      Shopify.money_format = "{{ shop.money_with_currency_format }}";
      $(document).on("click",".custom__qtyplus",function() {
        $(".alert.inventory").remove();
        var m_qty = parseInt($(this).parent('.mobile__only').find('input#modal-product-qty-update').val());
        console.log("m_qty", m_qty);
        var  m_inCart = parseInt($(this).parent('.mobile__only').find('input#modal-product-qty-update').attr('max'));
        console.log("m_inCart", m_inCart);
        if( m_inCart > m_qty ) {
          $(this).prev().val(+$(this).prev().val() + 1);
          console.log("new_m_qty", m_qty);
          m_qty = (isNaN(m_qty))?1:m_qty;
        }else{
         $('<span class="alert inventory">No more inventory</span>').insertAfter($(this).parent('.qtybox').find('.quantity-selector'));
        }
        
        
      }); 
      $(document).on("click",".custom__qtyminus",function() {
         $(".alert.inventory").remove();
        var m_qty = parseInt($(this).parent('.mobile__only').find('input#modal-product-qty-update').val());
        console.log("m_qty", m_qty);
        var  m_inCart = parseInt($(this).parent('.mobile__only').find('input#modal-product-qty-update').attr('max'));
        console.log("m_inCart", m_inCart);
        if ($(this).next().val() > 1) {
          if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
        }
        m_qty = (isNaN(m_qty))?1:m_qty;
      });
      $(document).on("click",".qtyplus",function() {
        $(".alert.inventory").remove();
        var  inCart = parseInt($(this).parent('.qtybox').find('.quantity-input').attr('max'));
        var qty = parseInt($(this).parent('.qtybox').find('.quantity-input').val());
        console.log("qtx-test", qty);
        console.log("inCart-test", inCart);
        if( inCart > qty ) {
          qty++;
          qty = (isNaN(qty))?1:qty;
          let data_id =    $(this).attr('data-variant');
          console.log("data_id", data_id);
          jQuery.post('/cart/change.js', { 
            quantity: qty, 
            id: data_id
          }).done(function(){
            location.reload();
          });
        }else{
          $('<span class="alert inventory">No more inventory</span>').insertAfter($(this).parent('.qtybox').find('.quantity-input'));
        }
      });
      $(document).on("click",".qtyminus",function() {
        var qty = parseInt($(this).parent('.qtybox').find('.quantity-input').val());     
        if(qty > 0) {
          qty--;
        }
        qty = (isNaN(qty))?1:qty;
        let data_id =    $(this).attr('data-variant');
        console.log("data_id", data_id);
        jQuery.post('/cart/change.js', { 
          quantity: qty, 
          id: data_id
        }).done(function(){
          location.reload();
        });
      });
       $(document).on("click",".c_cart-remove",function() {
         let data_idd = $('.qtybox').attr('data-variant');
        console.log("cc");
         jQuery.post('/cart/change.js', { 
           quantity: 0, 
           id: data_idd
         }).done(function(){
           location.reload();
         });
       });
    });
    $(document).on("click",".c_cart-edit",function() { 
      
      $('#edit-cart .cart-details .modal-product-image').attr('src', $(this).data('image'));
      $('#edit-cart .cart-details .modal-product-title').text($(this).data('title'));
      $('#edit-cart .cart-details .modal-variant-title').text($(this).data('varianttitle'));
      $('#edit-cart .cart-details .modal-product-price').text($(this).data('price'));
      $('.qtybox.mobile__only').attr('data-variant', $(this).data('variantid'));
      $('#edit-cart .cart-details .modal-product-quantity .modal-product-variantqty').text($(this).data('variantqty'));
      $('#edit-cart .cart-details .modal-product-quantity .modal-product-variantqty').text($(this).data('variantqty'));
      $('#edit-cart input#modal-product-qty-update').val($(this).data('variantqty')).attr('value', $(this).data('variantqty'));
      $('#edit-cart .cart-details .modal-product-qty-update').attr('max', $(this).data('maxqty'));
      $('#edit-cart .cart-details .modal-product-qty-minus, #edit-cart .cart-details .modal-product-qty-plus').attr('data-price', $(this).data('price')).attr('data-variant', $(this).data('variantid'));
    });
    $(".c_cart-mbl-apply").click(function(){
      var qty_mob =  parseInt($(".mobile__only").find('input#modal-product-qty-update').val());
      var data_id_mob = $(".mobile__only").attr("data-variant");
      jQuery.post('/cart/change.js', { 
        quantity: qty_mob, 
        id: data_id_mob
      }).done(function(){
        location.reload();
      });
    });
    
    $(".swatch-element.color").change(function(){
      let img = $("select#productSelect option:selected").attr("data-img");
      $(".custom-media-img").each(function(){
        if($(this).attr("src") == img){
          let di1 = parseInt($(this).parent().parent().parent().parent().attr("data-slick-index"));
          $('.custom-media-slider').slick('slickGoTo', di1);
        }
      });

    });
    
  </script>
  <script>
    $(function () {
      $(document).on("click", "#toggle:not(.active)", function () {
        $(this).addClass("active");
        $('#navigation').animate({
          top: 0
        }, 800);
        setTimeout(function () {
          $("#navigation").addClass("active");
        }, 800);
      });
      $(document).on("click", "#toggle.active", function () {
        $(this).removeClass("active");
        $('#navigation').animate({
          top: "-200vh"
        }, 800);
        setTimeout(function () {
          $("#navigation").removeClass("active");
        }, 750);
      });
    });
 
    
   </script>
  <style>
    .c_cart-remove{
      cursor: pointer; 
    }
    span.alert.inventory {
      width: 100%;
      position: relative;
      color: red;
      font-size: 12px;
      padding: 0;
      text-align: center;
    }
    span.btnqty.custom__qtyplus.icon.icon-plus {
      right: -3px;
      top: 0;
      position: absolute;
      background: 0 0;
      border: 0;
      height: 45px;
      width: 35px;
      color: #ea1a77;
      font-weight: 900;
      padding: 11px 0;
      display: inline-block;
      cursor: pointer;
    }
    span.btnqty.custom__qtyminus.icon.icon-minus {
      position: absolute;
      left: 0;
      top: 0;
      height: 45px;
      background: 0 0;
      width: 20px;
      text-align: left;
      color: #9a9a9a;
      font-weight: 900;
      padding: 11px 0;
      display: inline-block;
      cursor: pointer;
    }
  </style>
{{ 'custom-animation.js' | asset_url | script_tag }}
{{ 'custom-animation.css' | asset_url | stylesheet_tag }} 
<style>
#dynamic {
	position: fixed;
	height: 20px;
	background: #fff;
	top: 0;
	width: 100%;
	z-index: 100;
	transition: all .3s ease;
	box-shadow: 0 1px 25px rgba(0,0,0, .1);
}
#dynamic.hide {
	top: -53px;
}
</style>
<script>
    document.getElementById('myVideo').addEventListener('ended',myHandler,false);

    function myHandler(e){
        var div = document.getElementById("selectme");
        div.classList.remove(".div-hide");
        if (div.style.display === "none") {
          div.style.display = "none";
        } else {
          div.style.display = "block";
        }
        
    }
   document.getElementById('myVid').addEventListener('ended',myHandler,false);

    function myHandler(e){
        var div = document.getElementById("selectme");
        div.classList.remove(".div-hide");
        if (div.style.display === "none") {
          div.style.display = "none";
        } else {
          div.style.display = "block";
        }
        
    }
</script>
<script>
{% if template == 'page.leagues' %}
$('body').css('padding-top', $('.navbar').outerHeight() + 'px')

// detect scroll top or down
if ($('.smart-scroll').length > 0) { // check if element exists
    var last_scroll_top = 0;
    $(window).on('scroll', function() {
        scroll_top = $(this).scrollTop();
        if(scroll_top < last_scroll_top) {
            $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
        }
        else {
          console.log('down');
          $('.no-ft div#shopify-section-header-new').css('display','block');
            $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
        }
        last_scroll_top = scroll_top;
    });
}
{% endif %}
</script>
  <script>
    
  </script>
</html>
