<div class="container-fluid mt-ex">
      <div class="row">
         <div class="col-md-6">
            <div class="star-box-new">
               <h4>{{section.settings.heading}}</h4>
               <p>{{section.settings.content}}</p>
               <a href="{{section.settings.btn_link}}" class="primary-btn">{{section.settings.btn_label}}</a>
            </div>
         </div>
         <div class="col-md-6">
            <div class="pt-img">
              <a href="{{section.settings.btn_link}}"><img src="{{section.settings.image | img_url:'master'}}" alt="" /></a>
            </div>
         </div>
      </div>
   </div>
{% schema %}
  {
    "name": "Left Text Right Image",
    "settings": [
	 {
        "type": "textarea",
        "id": "heading",
        "label": "Heading",
        "default": "All-Star <b class='d-block'>partners</b>"
       },
       {
        "type": "textarea",
        "id": "content",
        "label": "Paragraph",
        "default": "<b>Our strains are hunted, grown, and distributed by the best in the biz.</b> We can’t say enough about the talent of our roster of MVPs."
       },

 
	  {
        "type": "text",
        "id": "btn_label",
        "label": "Button Text",
        "default": "Read about our All-Stars"
      },
	  {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "680x 500px recommended"
      }
	],
    "blocks": [
     
    ],
    "presets": [{
      "name": "Left Text Right Image",
      "category": "HOMEPAGE"
    }]
  }
{% endschema %}

