<div class="container-fluid">
   <div class="scp-breadcrumb">
      <ul class="breadcrumb">
         <li><a href="#">Ghost Gear</a></li>
         <li><a href="#">All Clothing</a></li>
         <li class="active">T-Shirts</li>
      </ul>
   </div>
   <h2 class="main-heading">T-Shirts</h2>
</div>
<section class="clothing-collection">
   <div class="container-fluid clearfix">
      <div class="heading-handler">
         <div class="row">
            <div class="col-8">
               <h3>T-Shirts</h3>
            </div>
            <div class="col-4">
               <a href="" class="primary-btn fl-rt">See All</a>
            </div>
         </div>
      </div>
      <div class="box-spc mb-0">
         <div class="row">
            <div class="col-md-4 col-6">
               <div class="t-box">
                  <a href=""><img src="{{'t-1.jpg' | file_url}}" alt="" class="w-100" /></a>
                  <ul class="pricing clearfix">
                     <li><a href="">T-Shirt 1</a></li>
                     <li><b>$</b> <span>31</span></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-4 col-6 mob-view">
               <div class="t-box">
                  <a href=""><img src="{{'t-shirt-3.jpg' | file_url}}" alt="" class="w-100" /></a>
                  <ul class="pricing clearfix">
                     <li><a href="">T-shirt-2</a></li>
                     <li><b>$</b> <span>31</span></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-8 col-12">
               <div class="t-box">
                  <a href="">
                     <img src="{{'t-shirt-two.jpg' | file_url}}" alt="" class="w-100" />
                     <div class="img-badge">
                        <div class="badge-text"><img src="{{'sale-alert.png' | file_url}}" alt="" /> <span>25%</span></div>
                     </div>
                  </a>
                  <ul class="pricing new-wd clearfix">
                     <li><a href="">T-Shirt</a></li>
                     <li>
                        <div class="dark-line">$100</div>
                        <b>$</b> <span>75</span>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="box-spc">
         <div class="row">
            <div class="col-md-4 col-6 dsk-view">
               <div class="t-box">
                  <a href=""><img src="{{'t-shirt-3.jpg' | file_url}}" alt="" class="w-100" /></a>
                  <ul class="pricing clearfix">
                     <li><a href="">T-shirt-2</a></li>
                     <li><b>$</b> <span>31</span></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-4 col-6">
               <div class="t-box">
                  <a href=""><img src="{{'t-shirt-4.jpg' | file_url}}" alt="" class="w-100" /></a>
                  <ul class="pricing clearfix">
                     <li><a href="">T-shirt-3</a></li>
                     <li><b>$</b> <span>31</span></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-4 col-6">
               <div class="t-box">
                  <a href=""><img src="{{'t-shirt-5.jpg' | file_url}}" alt="" class="w-100" /></a>
                  <ul class="pricing clearfix">
                     <li><a href="">Worlds Okayest Dealer T-Shirt</a></li>
                     <li><b>$</b> <span>31</span></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-4 col-6">
               <div class="t-box">
                  <a href=""><img src="{{'t-shirt-6.jpg' | file_url}}" alt="" class="w-100" /></a>
                  <ul class="pricing clearfix">
                     <li><a href="">T-shirt-5</a></li>
                     <li><b>$</b> <span>31</span></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-4 col-6">
               <div class="t-box">
                  <a href=""><img src="{{'t-shirt-7.jpg' | file_url}}" alt="" class="w-100" /></a>
                  <ul class="pricing clearfix">
                     <li><a href="">T-shirt-6</a></li>
                     <li><b>$</b> <span>31</span></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-4 col-6">
               <div class="t-box">
                  <a href=""><img src="{{'t-shirt-8.jpg' | file_url}}" alt="" class="w-100" /></a>
                  <ul class="pricing clearfix">
                     <li><a href="">T-shirt-7</a></li>
                     <li><b>$</b> <span>31</span></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="you-might">
   <div class="container-fluid">
      <h2 class="big-two">You might also like</h2>
      <div class="row">
         <div class="col-md-6">
            <div class="all-box">
               <a href="">
                  <img src="{{'hood-long.jpg' | file_url}}" alt="" class="img-box-one" />
                  <div class="overlay-blk"></div>
                  <div class="clothing-area">
                     <h3 class="heading-bx">
                        Hoodies & Sweaters
                     </h3>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-6">
            <div class="all-box">
               <a href="">
                  <img src="{{'hat-long.png' | file_url}}" alt="" class="img-box-one" />
                  <div class="overlay-blk"></div>
                  <div class="clothing-area">
                     <h3 class="heading-bx">
                        Hats
                     </h3>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
