 <div class="container-fluid mt-ex">
      <div class="row">
         <div class="col-md-6">
            <div class="star-box-new">
               <h4 class="color-yellow">{{section.settings.heading}}</h4>
               <p>{{section.settings.content}}</p>
               <a href="{{section.settings.btn_link}}" class="primary-btn">{{section.settings.btn_label}}</a>
            </div>
         </div>
         <div class="col-md-6">
            <div class="pt-img">
              <a href="{{section.settings.btn_link}}"><img src="{{section.settings.img_desktop | img_url:'master'}}" alt="" /></a>
            </div>
         </div>
      </div>
   </div>
{% schema %}
  {
    "name": "Ghost star partner",
    "settings": [
	 {
        "type": "textarea",
        "id": "heading",
        "label": "Heading",
        "default": "What drives us   "
       },
       {
        "type": "textarea",
        "id": "content",
        "label": "paragraph",
        "default": "Explore our organizational vision, mission, and values."
       },
	  {
        "type": "image_picker",
        "id": "img_desktop",
        "label": "Desktop Image",
        "info": "680x 500px recommended"
      },
      
      
      {
        "type": "text",
        "id": "btn_label",
        "label": "Button Text",
        "default": "Learn more"
      },
	  {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
      }
	],
    "blocks": [
     
    ],
    "presets": [{
      "name": "Ghost star partner section",
      "category": "HOMEPAGE"
    }]
  }
{% endschema %}

