{{ 'homepage-hero-v2.css' | asset_url | stylesheet_tag }}

<div class="homepage_hero_v2_container">
  <div class="homepage_hero_v2_wrapper">
    <div class="homepage_hero_v2_inner">
      <div class="homepage_hero_v2_text_content_wrapper">
        
        {% if section.settings.heading != '' %}
          <h1 class="register-hero-heading">{{ section.settings.heading | newline_to_br }}</h1>
        {% endif %}

        {% if section.settings.subheading != '' %}
          <p class="register-hero-subheading">{{ section.settings.subheading | newline_to_br }}</p>
        {% endif %}

        {% if section.settings.btn != '' %}
          <div class="homepage_hero_v2_button_wrapper">
            <a class="homepage_hero_v2_btn ghost_btn" href="{{ section.settings.link }}">
              <span class="cta_btn_icon">{% render 'icon-btn-ghost' %}</span>
              <span class="cta_btn_label">{{ section.settings.btn }}</span>
            </a>
          </div>
        {% endif %}

      </div>
      <div class="homepage_hero_v2_animation_content_wrapper">
        <lottie-player
          class="lottie_animation"
          src="{{ 'Jar-Animation.json' | asset_url }}"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Homepage Hero V2",
  "class": "container-fluid homepage_hero_v2_section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Your favourite drops, now dropped at your door."
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Ghost Drops is going back to its roots. In addition to dropping new products via our retail partners, we are now offering exclusive drops that can’t be found in your local dispensary."
    },
    {
      "type": "text",
      "id": "btn",
      "label": "Button label",
      "default": "Shop Now"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Button link"
    },
    {
      "type": "html",
      "id": "design_svg_1",
      "label": "Design SVG 1"
    },
    {
      "type": "html",
      "id": "design_svg_2",
      "label": "Design SVG 2"
    },
    {
      "type": "html",
      "id": "design_svg_3",
      "label": "Design SVG 3"
    }
  ],
  "presets": [
    {
      "name": "Homepage Hero V2",
      "category": "HOMEPAGE"
    }
  ]
}
{% endschema %}
