<section class="contact-form new-invst">
  {%- assign formId = 'ContactForm' -%}
  {% form 'contact', id: formId %}
   <div class="container-fluid">
     <div class="row">
        <div class="col-md-7">
   <div class="container-small">
     {% include 'form-status', form: form, form_id: formId %}
     <input type="hidden" name="contact[tags]" value"Investor Deck" />
      <div class="input-max">
         <div class="palceholder">
            <label for="{{ formId }}-fname">First Name</label>
            <span class="star">*</span>
         </div>
         <input type="text" name="contact['First Name']" class="input-c" id="{{ formId }}-fname" required>
      </div>
      <div class="input-max">
         <div class="palceholder">
            <label for="{{ formId }}-lname">Last Name</label>
            <span class="star">*</span>
         </div>
         <input type="text" name="contact['Last Name']" class="input-c" id="{{ formId }}-lname" required>
      </div>
      <div class="input-max">
         <div class="palceholder" style="display:block !important">
            <label for="{{ formId }}-email" >Email</label>
            <span class="star">*</span>
           
         </div>
        <input
                type="email"
                id="{{ formId }}-email"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true" class="input-c"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
         
      </div>
     <div class="input-max">
            {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
     </div> 
      <div class="input-max">
         <div class="palceholder">
            <label for="{{ formId }}-subject">Company</label>
         </div>
         <input type="text" name="contact['company']" class="input-c" id="{{ formId }}-subject" required>
      </div>
     <div class="input-max">
         <div class="palceholder">
            <label for="{{ formId }}-subject">Comment</label>
         </div>
         <input type="text" name="contact['comment']" class="input-c" id="{{ formId }}-comment">
      </div>
      <div class="input-max text-center">
         <input type="submit" class="Submit">
      </div>
   </div>
        </div>
            <div class="col-md-5">
             <div class="img-hold">
<!--              <img src="{{'investor-img.jpg' | asset_url}}" class="max-w">   -->
               <img src="{{section.settings.image | img_url:'master'}}" class="max-w">

             </div>      
       </div>
       </div> </div>
  {%endform%}
</section>
		<!----->
{% schema %}
  {
    "name": "Contact Section Image",
    "settings": [
	 {
        "type": "image_picker",
        "id": "image",
        "label": "Contact Right Image",
        "info": "530x 390px recommended"
      }
	],
    
    "presets": [{
      "name": "Contact Section Image",
      "category": "HOMEPAGE"
    }]
  }
{% endschema %}