
<section class="section" id="section1">
    <div class="section-content">
        <div class="video-container">
            <video playsinline autoplay muted id="myVideo">
                <source src="https://cdn.shopify.com/videos/c/o/v/70a7157ff6fb4c9485a36865eb22797a.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="scroll-btn div-hide" id="selectme">
            <a href="#section2">
                <span class="mouse">
                <span>
                </span>
                </span> </a>
                <p>SCROLL</p>
           
        </div>
    </div>
</section>

<section class="section position-relative" id="section2">

<div class="drop-ct">
      <div class="drop-block drop-black">
         <div class="drop-water" data-drop="fade-down" data-drop-time="10000" data-drop-width="50" data-drop-height="180"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="7000" data-drop-width="30" data-drop-height="260"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="9000" data-drop-width="30" data-drop-height="200"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="6000" data-drop-width="40" data-drop-height="330"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="7000" data-drop-width="30" data-drop-height="280"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="10000" data-drop-width="30" data-drop-height="220"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="7000" data-drop-width="40" data-drop-height="260"></div>
      </div>
 </div>

<div class="clearfix"></div>
    <a href="" class="drop-btn"><img src="{{'back-arrowd.svg' | asset_url }}" class="arrow-pos"> Ghost Drops </a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5" data-aos-duration="2000"  data-aos="fade-right" data-aos-mirror="true"><img src="{{'league-1.png' | asset_url }}" class="w-100"></div>
            <div class="col-md-7" data-aos-duration="2000"  data-aos="fade-left" data-aos-mirror="true">
                <div class="ct-middle">
                    <h2>A collective of iconic & innovative cannabis brands.</h2>
                    <p>Ghost Drops presents The League, a brand platform that focuses on bringing iconic and innovative brands to the legal market. We’re bringing together heavyweight players from the illicit market alongside some new, exciting names.<br> Legends. Icons. Innovators. This is The League.</p>
                </div>
            </div>
        </div>
        <div class="scroll-btn black">
            <a href="#section3">
                <span class="mouse">
                <span>
                </span>
                </span>  </a>
                <p>SCROLL</p>
          
        </div>
    </div>
</section>
<section class="section red" id="section3">
    <a href="" class="drop-btn white-clr"><img src="{{'back-arrowd.svg' | asset_url }}" class="arrow-pos"> Ghost Drops </a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 mob-view" data-aos-duration="2000" data-aos="fade-left" data-aos-mirror="true"><img src="{{'league-2.png' | asset_url }}" class="w-100"></div>
            <div class="col-md-7" data-aos-duration="2000" data-aos="fade-right" data-aos-mirror="true">
                <div class="ct-middle">
                    <h2>Canada’s Premium <br>Cannabis Brand House</h2>
                    <p>Ghost Drops has always been a brand house – a collective, a team. Since pre-legalization, we’ve spotlighted the best producers, hunters and breeders in the Canadian market. Following our historic commitment to transparency and quality, we’re now launching these entities as stand-alone brands under The League with their very own unique product lines and genetics.</p>
                </div>
            </div>
            <div class="col-md-5 dsk-view" data-aos-duration="2000" data-aos="fade-left" data-aos-mirror="true"><img src="{{'league-2.png' | asset_url }}" class="w-100"></div>
        </div>
        <div class="scroll-btn">
            <a href="#section4">
                <span class="mouse">
                <span>
                </span> 
                </span> </a>
                <p>SCROLL</p>
           
        </div>
    </div>
</section>

<section class="section light-blue" id="section4">
    <a href="" class="drop-btn white-clr"><img src="{{'back-arrowd.svg' | asset_url }}" class="arrow-pos"> Ghost Drops </a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5" data-aos-duration="2000" data-aos="fade-right" data-aos-mirror="true"><img src="{{'section-four-gff.gif' | asset_url }}" class="w-100"></div>
            <div class="col-md-7" data-aos-duration="2000" data-aos="fade-left" data-aos-mirror="true">
                <div class="ct-middle">
                    <h2>First Round Draft Pick: Hasho </h2>
                    <p>Our first-round draft pick to The League is Hasho, a collaborative brand curated by legendary Toronto-based hash maker Mike ”El Hasho” Imposimato. The first drop under Hasho is GMO, a strain made famous by El Hasho in the illicit market for its abundant trichome production, unique aroma and hash-making potential.</p>
                </div>
            </div>
        </div>
        <div class="scroll-btn">
            <a href="#section5">
                <span class="mouse">
                <span>
                </span>
                </span></a>
                <p>SCROLL</p>
            
        </div>
    </div>
</section>

<section class="section" id="section5">
    <a href="" class="drop-btn"><img src="{{'back-arrowd.svg' | asset_url }}" class="arrow-pos"> Ghost Drops </a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 mob-view" data-aos-duration="2000" data-aos="fade-left" data-aos-mirror="true"><img src="{{'section-five-gff.gif' | asset_url }}" class="w-100"></div>
            <div class="col-md-7" data-aos="fade-right" data-aos-duration="2000" data-aos="fade-left" data-aos-mirror="true">
                <div class="ct-middle">
                    <h2>The League Collectible Cards </h2>
                    <p>Our first-round draft pick to The League is Hasho, a collaborative brand curated by legendary Toronto-based hash maker Mike ”El Hasho” Imposimato. The first drop under Hasho is GMO, a strain made famous by El Hasho in the illicit market for its abundant trichome production, unique aroma and hash-making potential.</p>
                </div>
            </div>
            <div class="col-md-5 dsk-view" data-aos-duration="2000" data-aos="fade-left" data-aos-mirror="true"><img src="{{'section-five-gff.gif' | asset_url }}" class="w-100"></div>
        </div>
    </div>
</section>
