<ul class="circle-logos  ex-mt-list clearfix">
         <li>
            <div class="circle-four position-relative">
               <img src="{{'circle-four.svg' | file_url}}" alt="" class="circ-four" />
               <h6>LP / Distribution</h6>
               <ul class="circle-list-four clearfix">
                  <li><a href=""><img src="{{'lpd-one.svg' | file_url}}" alt="" /></a></li>
               </ul>
            </div>
         </li>
         <li>
            <div class="circle-five  position-relative">
               <img src="{{'circle-five.svg' | file_url}}" alt="" class="circ-five" />
               <h6>Micro Growers</h6>
               <ul class="circle-list-five clearfix">
                  <li><a href=""><img src="{{'mg-one.svg' | file_url}}" alt="" /></a></li>
                  <li><a href=""><img src="{{'mg-two.svg' | file_url}}" alt="" /></a></li>
                  <li><a href=""><img src="{{'mg-3.png' | file_url}}" alt="" /></a></li>
                  <li><a href=""><img src="{{'mg-4.png' | file_url}}" alt="" /></a></li>
               </ul>
            </div>
         </li>
         <li>
            <div class="circle-six  position-relative">
               <img src="{{'circle-six.svg' | file_url}}" alt="" class="circ-six" />
               <h6>Nursery</h6>
               <ul class="circle-list-six">
                  <li><a href=""><img src="{{'n-1.svg' | file_url}}" alt="" /></a></li>
               </ul>
            </div>
         </li>
      </ul>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
