{{ 'new-register-text-image.css' | asset_url | stylesheet_tag }}

<div class="resgister-text-image-section">
    {% if section.settings.section_heading != '' %}
    <div class="container-fluid">
        <div class="resgister-section-header">
            <h2 class="colored-heading register-text-img-section-heading">{{ section.settings.section_heading }}</h2>
        </div>
    </div>
    {% endif %}

    <div class="container-fluid text-image-container">
        <div class="text-image-absolute">
            <div class="text-image-area text-image-slider">
                {% for block in section.blocks %}
                    {% if block.type == 'block' %}
                    <div class="text-image-block">
                        <div class="text-image-block-inner">
                            <div class="text-image-block-img">
                                <img src="{{ block.settings.img | img_url: 'x280' }}" 
                                    alt="{{ block.settings.img.alt }}" 
                                    loading="lazy"
                                >
                            </div>

                            {% if block.settings.heading != '' or block.settings.subheading != '' %}
                            <div class="text-image-block-content">
                                {% if block.settings.heading != '' %}
                                <h2 class="text-image-heading">
                                    {{ block.settings.heading | newline_to_br }}
                                </h2>
                                {% endif %}

                                {% if block.settings.subheading != '' %}
                                <p class="text-image-subheading">{{ block.settings.subheading | newline_to_br }}</p>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="slick-progress-wrapper">
        <div class="text-image-dots"></div>
    </div>

    {% comment %} 
    <div class="slick-progress-wrapper">
        <div class="slick-progress"></div>
    </div>
    {% endcomment %}
</div>





<script>
    $(document).ready(function() {
        var $slider = $('.text-image-slider');

    {% comment %}
        var $progressBar = $('.slick-progress');
        var $slidesToShow = 3;         
        $slider.on('beforeChange', function(event, slick, currentSlide, nextSlide) {
            var unit = 100 / slick.slideCount;            
            var calc = (nextSlide + $slidesToShow) * unit;
            $progressBar.css('background-size', calc + '% 100%');
        }); 
    {% endcomment %}
        
        $slider.slick({
            dots: true,
            appendDots: '.text-image-dots',
            arrows: false,
            infinite: false,
            swipeToSlide: true,
            touchMove: true,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1101,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });  


        $(".text-image-dots .slick-dots li").on("mouseenter", function () {
            $(this).trigger('click');
        });
    });
</script>



  
{% schema %}
  {
    "name": "Register - Text Image",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading",
            "default": "Benefits",
            "info": "Don't want? Keep blank."
        }
    ],
    "blocks": [
        {
            "name": "block",
            "type": "block",
            "settings": [
                {
                  "type": "image_picker",
                  "id": "img",
                  "label": "Image"
                },
                {
                    "type": "textarea",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Exclusive Drops",
                    "info": "Don't want? Keep blank."
                },
                {
                    "type": "textarea",
                    "id": "subheading",
                    "label": "Subheading",
                    "default": "Access exclusive drops and pricing that can't be found anywhere else. New, small batch, limited edition strains and products.",
                    "info": "Don't want? Keep blank."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Register - Text Image",
            "blocks": [
                {
                    "type": "block",
                    "settings": {
                        "heading": "$50 OFF + Free Gift",
                        "subheading": "Receive $50 of Ghost Drops products for free when you signup. You'll also receive a free, exclusive gift."
                    }
                },
                {
                    "type": "block",
                    "settings": {
                        "heading": "Exclusive Drops",
                        "subheading": "Access exclusive drops and pricing that can't be found anywhere else. New, small batch, limited edition strains and products."
                    }
                },
                {
                    "type": "block",
                    "settings": {
                        "heading": "GhostDots Loyalty",
                        "subheading": "Earn GhostDots loyalty points and redeem for discounts on cannabis purchases, merchandise items and more."
                    }
                },
                {
                    "type": "block",
                    "settings": {
                        "heading": "Free Fast Shipping",
                        "subheading": "Free, fast and discreet shipping and delivery. Orders placed before 1pm on weekdays will be shipped out SAME DAY."
                    }
                },
                {
                    "type": "block",
                    "settings": {
                        "heading": "Legal + Tax Benefits",
                        "subheading": "Members may legally carry up to 150 grams. Purchases are covered by some insurance providers and are also tax-deductible."
                    }
                },
                {
                    "type": "block",
                    "settings": {
                        "heading": "Discounts, Deals + Sales",
                        "subheading": "Access Members Only pricing with Ghost Drops MOM. Special discounts, deals and sales that can't be found anywhere else."
                    }
                }
            ]
        }
    ]
  }
{% endschema %}
  