<div class="container-fluid mt-ex">
      <div class="row">
         <div class="col-md-6 dsk-view">
            <div class="pt-img">
              <a href="{{section.settings.btn_link}}"> <img src="{{section.settings.image | img_url:'master'}}" alt="" /></a>
            </div>
         </div>
         <div class="col-md-6">
            <div class="star-box-new pl-l">
              
              <h4 class="color">{{section.settings.heading}}</h4>
               <p>{{section.settings.content}}</p>
               <a href="{{section.settings.btn_link}}" class="primary-btn">{{section.settings.btn_label}}</a>
            </div>
         </div>
         <div class="col-md-6 mob-view">
            <div class="pt-img">
              <a href="{{section.settings.btn_link}}"> <img src="{{section.settings.mob_image | img_url:'master'}}" alt="" /></a>
            </div>
         </div>
      </div>
   </div>

{% schema %}
  {
    "name": "Drop Work Section",
    "settings": [
	 {
        "type": "textarea",
        "id": "heading",
        "label": "Heading",
        "default": "How our <b class='d-block'>drops <span>work</span></b>"
       },
       {
        "type": "textarea",
        "id": "content",
        "label": "Paragraph",
        "default": "The journey from pheno-hunting to dispensary shelves."
       },

 
	  {
        "type": "text",
        "id": "btn_label",
        "label": "Button Text",
        "default": "Learn more"
      },
	  {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "680x 500px recommended"
      },
      {
        "type": "image_picker",
        "id": "mob_image",
        "label": "Mobile Image",
        "info": "680x 500px recommended"
      }
	],
    "blocks": [
     
    ],
    "presets": [{
      "name": "Drop Work",
      "category": "HOMEPAGE"
    }]
  }
{% endschema %}