<section class="form-new">
<!--    <img src="{{'blue-splash.svg' | asset_url}}" class="sp-b"> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
    <h4><span>Want to experience</span> the Ghost in your province?</h4>
  </div>
         <div class="col-md-6">
           <p>Let us know where you want to see us expand to next. We're only just getting started, ghostfam. We ain't done dominating yet.</p>
  </div>
    </div>
  
    <div class="row">
      <div class="col-md-7">
      	   <div class="container-small ex-op">
     {% include 'form-status', form: form, form_id: formId %}
      <div class="input-max">
         <div class="palceholder">
            <label for="{{ formId }}-fname">First Name</label>
            <span class="star">*</span>
         </div>
         <input type="text" name="contact['First Name']" class="input-c" id="{{ formId }}-fname" required>
      </div>
      <div class="input-max">
         <div class="palceholder">
            <label for="{{ formId }}-lname">Last Name</label>
            <span class="star">*</span>
         </div>
         <input type="text" name="contact['Last Name']" class="input-c" id="{{ formId }}-lname" required>
      </div>
      <div class="input-max">
         <div class="palceholder" style="display:block !important">
            <label for="{{ formId }}-email" >Email</label>
            <span class="star">*</span>
           
         </div>
        <input
                type="email"
                id="{{ formId }}-email" class="input-c"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                {%- endif -%}
                >
         
      </div>
     <div class="input-max">
            {%- if form.errors contains 'email' -%}
                <span id="{{ formId}}-email-error" class="input-error-message">
                  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                  {% include 'icon-error' %}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
              {%- endif -%}
     </div> 
             <div class="input-max sl-arrow">
               <select>
                
                 <option>Alberta </option>
                  <option>Manitoba</option>
                  <option>New Brunswick</option>
                  <option>Newfoundland and Labrador</option>
                  <option>Nova Scotia</option>
                  <option>Prince Edward Island</option>
                  <option>Quebec</option>
                  <option>Saskatchewan</option>
                  <option>Northwest Territories</option>
                  <option>Nunavut</option>
                  <option>Yukon</option>

               </select> <i class="fa fa-caret-down" aria-hidden="true"></i>
             </div>
      <div class="input-max">
         <div class="palceholder">
            <label for="{{ formId }}-message">Message</label>
            <span class="star">*</span>
         </div>
         <input type="text" contact['message'] class="input-c" id="{{ formId }}-message" required>
      </div>
      <div class="input-max text-center">
         <input type="submit" class="Submit">
      </div>
   </div>
      </div>
      <div class="col-md-5">
        <div class="b-s"> <img src="{{'ghst.jpg' | asset_url}}"></div>
      </div>
    </div>
  </div>
  
  
</section>
<section class="drops-footer">
  <div class="container-fluid">
      <div class="drop-block drop-white">
         <div class="drop-water" data-drop="fade-down" data-drop-time="4000" data-drop-width="36" data-drop-height="180"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="2000" data-drop-width="30" data-drop-height="260"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="3000" data-drop-width="30" data-drop-height="200"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="1000" data-drop-width="40" data-drop-height="330"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="2000" data-drop-width="30" data-drop-height="280"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="4000" data-drop-width="30" data-drop-height="220"></div>
         <div class="drop-water" data-drop="fade-down" data-drop-time="3000" data-drop-width="40" data-drop-height="260"></div>
      </div>    </div>
</section>
{% schema %}
  {
    "name": "Where to Buy",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
