<section class="ghost-cat text-center invst holow">
<h1 class="text-flicker-in-glow" >Hologram Gift</h1>
</section>

<div class="container-fluid">
  <div class="para-area">
  <p>Congrats. You scored one of our extra-special, ultra-rare collectible strain cards featuring the Ghost Drops hologram on the back. </p>

<p>Just 1 in 50 cards features a hologram. Because they’re so special – and because we do things a little differently at Ghost Drops – we want to send you something to celebrate your find.</p> 

<p>Complete and submit all fields in this form, and then look out for a bonus gift dropping in your mailbox in the coming weeks.</p>

</div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="img-bx">
    <img src="{{'sc1.png' | asset_url}}" class="w-100 img-bxw">
      </div>
    </div>
        <div class="col-md-6">
      <div class="img-bx">
    <img src="{{'sc2.png' | asset_url}}" class="w-100 img-bxw">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="img-lb">
      <div class="row">
        <div class="col-md-6">
        <div class="input-max">
         <div class="palceholder">
            <label for="ContactForm-fname">First Name</label>
            <span class="star">*</span>
         </div>
         <input type="text" name="First Name" id="ContactForm-fname" class="input-c" required="">
      </div>
        </div>
        
                <div class="col-md-6">
        <div class="input-max">
         <div class="palceholder">
            <label for="ContactForm-fname">Last Name</label>
            <span class="star">*</span>
         </div>
         <input type="text" name="Last Name" class="input-c" required="">
      </div>
        </div>
        
                <div class="col-md-6">
        <div class="input-max">
         <div class="palceholder">
            <label for="ContactForm-fname">Email</label>
            <span class="star">*</span>
         </div>
         <input type="email" name="First Name" id="ContactForm-fname" class="input-c" required="">
      </div>
        </div>
        
                <div class="col-md-6">
        <div class="input-max">
         <div class="palceholder">
            <label for="ContactForm-fname">Phone Number</label>
            <span class="star">*</span>
         </div>
         <input type="text" name="Last Name" class="input-c" required="">
      </div>
        </div>
                  
                               <div class="col-md-6">
        <div class="input-max">
         <div class="palceholder">
            <label for="ContactForm-fname">Address</label>
            <span class="star">*</span>
         </div>
         <input type="text" name="Last Name" class="input-c" required="">
      </div>
        </div>
                               <div class="col-md-6">
        <div class="input-max">
         <div class="palceholder">
            <label for="ContactForm-fname">Postal Code</label>
            <span class="star">*</span>
         </div>
         <input type="text" name="Last Name" class="input-c" required="">
      </div>
        </div>
        <div class="col-md-6">
        	<div class="input-max sl-arrow">
               <select name="contact[provinces]">
                 <option value="Province">Province </option>
                 <option value="Alberta">Alberta </option>
                  <option value="Manitoba">Manitoba</option>
                  <option value="New Brunswick">New Brunswick</option>
                  <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                  <option value="Nova Scotia">Nova Scotia</option>
                  <option value="Prince Edward Island">Prince Edward Island</option>
                  <option value="Quebec">Quebec</option>
                  <option value="Saskatchewan">Saskatchewan</option>
                  <option value="Northwest Territories">Northwest Territories</option>
                  <option value="Nunavut">Nunavut</option>
                  <option value="Yukon">Yukon</option>

               </select> <i class="fa fa-caret-down" aria-hidden="true"></i>
              
               <img src="{{'poly.svg' | asset_url}}" class="w-100 caret-dwn">
             </div>
        </div>
        
      </div>
      </div>
        <div class="up-btn">
      <p>Upload Image of the back of your card, clearly showing hologram, strain, and card ID number *</p>
    
      
<div class="upload-btn-wrapper">
  <button class="btnx"><img src="{{'up.svg' | asset_url}}" class="upld"></button>
  <input type="file" name="myfile" />
</div>
        
        <div class="input-max text-center">
         <input type="submit" class="Submit mb-md-5">
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="Collec-Banner-r2">
      	<img src="{{'Collec-Banner-r2.png' | asset_url}}" class="upld">
      </div>
    </div>
  </div>
  
  </div>