{% section 'dropnews-top'%}
{% section 'dropnews-content'%}
{%section  'dropnews-blog-section'%}
{%section  'dropnews-contact-section'%}
{%section 'section-form-straight' %}


<div class="news-col d-none">
   <div class="container-fluid">
      <div class="masonry">
         <div class="brick">
            <a href=""><img src="{{'nw-1.jpg' |asset_url}}" alt="" class="w-100" /></a>
            <a href="">
               <h4>The Benefits of a Medical Cannabis Document</h4>
            </a>
            <p>An increasing number of countries worldwide are legalizing medical use of cannabis. Canada, ... </p>
            <a href="">Read More</a>
         </div>
         <div class="brick">
            <a href="">  <img src="{{'nw-4.jpg' |asset_url}}" alt="" class="w-100" /></a>
            <a href="">
               <h4>The History of Medical Cannabis</h4>
            </a>
            <p>While cannabis has become much more socially acceptable in recent years, humans have been ...</p>
            <a href="">Read More</a>
         </div>
         <div class="brick">
            <a href="">  <img src="{{'nw-2.jpg' |asset_url}}" alt="" class="w-100" /></a>
            <a href="">
               <h4>How Long Can You Store Your Cannabis Before It Goes Off?</h4>
            </a>
            <p>When one consumes cannabis that’s gone past its prime period, they may experience some ...</p>
            <a href="">Read More</a>
         </div>
         <div class="brick">
            <a href="">  <img src="{{'nw-5.jpg' |asset_url}}" alt="" class="w-100" /></a>
            <a href="">
               <h4>Your All Inclusive Guide On How To Use a Cannabis Vaporizer</h4>
            </a>
            <p>There are many makes and models of vaporizer, and it’s very important to carefully read ...</p>
            <a href="">Read More</a>
         </div>
         <div class="brick">
            <a href="">  <img src="{{'nw-3.jpg' |asset_url}}" alt="" class="w-100" /></a>
            <a href="">
               <h4>The History of Medical Cannabis</h4>
            </a>
            <p>While cannabis has become much more socially acceptable in recent years, humans have been ...</p>
            <a href="">Read More</a>
         </div>
         <div class="brick">
            <a href="">  <img src="{{'nw-6.jpg' |asset_url}}" alt="" class="w-100" /></a>
            <a href="">
               <h4>What Are The Medical Benefits of Cannabis?</h4>
            </a>
            <p>People have used medical cannabis for thousands of years due to the medical ... </p>
            <a href="">Read More</a>
         </div>
      </div>
   </div>
</div>



