<section class="ghost-cat collect-new text-center invst clbt d-none ">
<h1 class="text-flicker-in-glow" style="animation-duration: 3s">Collectibles</h1>
  <p>With every strain drop and every new iteration, we're delivering collectibles</p>
    <img src="{{'SCN_Package_1.gif' | file_url}}" class="animte-top">
</section>
<section class="ghost-cat collect-new text-center invst clbt d-none ">
<h1 class="text-flicker-in-glow" style="animation-duration: 3s">Collectibles</h1>
  <p>With every strain drop and every new iteration, we're delivering collectibles</p>
    <img src="{{'SCN_Package_1.gif' | file_url}}" class="animte-top">
</section>
<section class="data-area-one">
<div class="container-fluid">
  <p>Ghost Drops has always been a platform for celebrating the all-stars of Canadian cannabis. Now you can collect those all-stars - your favourite strains, brands, breeders and hunters - with our baseball-style collectible cards. These cards contain information about our various cultivars and genetic partners. 
</p>
  <p>Every time we drop a new strain or brand, we release new cards. We also frequently update our existing card designs to keep things fresh. Collect this ever-expanding set - and keep an eye out for the extra-special, ultra-limited editions with the holographic strain name on the image-side of the card.  
</p>
  <hr class="padd-line">
  <div class="row">
      <div class="col-md-6 mob-view">
      <div class="gf-animnate">
            <img src="{{'collect-1.png' | file_url}}" class="w-100">
      </div>
    </div>
    
<div class="col-md-6">
  <div class="register-area">
    <h2>Register your <BR>
collectible card </h2>
  <p>Register your Ghost Drops collectible cards using the unique ID number to gain access to a variety of benefits. When you complete the online form below, you are automatically entered into our monthly Ghost Drops hoodie giveaway and will gain early access to Crypto Drops, our cannabis NFT project. If you’re lucky enough to have found one of the ultra-rare holographic cards, there’s an extra prize in the registration process.  </p>
<a href="" class="primary-btn">REGISTER NOW</a>
  </div>
  </div>
    <div class="col-md-6 dsk-view">
      <div class="gf-animnate">
            <img src="{{'collect-1.png' | file_url}}" class="w-100">
      </div>
    </div>
    
  </div>
</div>
  </section>
  <section class="collectible-two grey">
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
      <div class="gf-animnate-two">
            <img src="{{'collect-2.png' | file_url}}" class="w-100">
      </div>
    </div>
    
<div class="col-md-6">
  <div class="register-area">
    <h2>How it works</h2>
  <p>Register your Ghost Drops collectible cards using the unique ID number to gain access to a variety of benefits. When you complete the online form below, you are automatically entered into our monthly Ghost Drops hoodie giveaway and will gain early access to Crypto Drops, our cannabis NFT project. If you’re lucky enough to have found one of the ultra-rare holographic cards, there’s an extra prize in the registration process.  </p>
<a href="" class="primary-btn bg-transparent">LEARN MORE</a>
  </div>
  </div>
</div>
  </div>
    
  </section>
  <section class="collectible-three">
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-6 mob-view">
      <div class="gf-animnate">
            <img src="{{'collect-3.png' | file_url}}" class="w-100">
      </div>
    </div>
    
<div class="col-md-6">
  <div class="register-area">
    <h2>Holographic<br> 
collectible cards  </h2>
<p>Just 1-in-100 collectible cards feature the extra-special Ghost Drops holographic strain name on the image-side of the card. You definitely want to hunt one of these down.  </p>
<p>Register your holographic card with us and we’ll hook you up with a couple of special bonuses. First, you’ll receive an exclusive Ghost Drops merchandise package complete with clothing, accessories and more. Second, you’ll be added to the draw for our Crypto Drops White List, for a chance to win first access to our cannabis NFT project.  </p>
    <a href="" class="primary-btn">LEARN MORE</a>
  </div>
  </div>
    <div class="col-md-6 dsk-view">
      <div class="gf-animnate">
            <img src="{{'collect-3.png' | file_url}}" class="w-100">
      </div>
    </div>
    
  </div>
    </div>
  </section>
    <section class="collectible-two grey">
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
      <div class="gf-animnate">
            <img src="{{'collect-4.png' | file_url}}" class="w-100">
      </div>
    </div>
    
<div class="col-md-6">
  <div class="register-area">
    
    <img src="{{'league-logo.svg' | file_url}}" class="leag-logo">
    <h2>The League Collectible Cards</h2>
<P>Ghost Drops presents The League, a brand platform that brings iconic and innovative cannabis brands to the legal market. Each brand launched under The League, and each strain launched under those respective brands, comes with accompanying collectible trading cards. These cards feature unique branding elements and colorways that differ from the signature Ghost Drops capsules. Collect them all! </P>
    <a href="" class="primary-btn bg-transparent">LEARN MORE</a>
  </div>
  </div>
</div>
  </div>
    
  </section>
  {%section 'section-form-straight' %}