<section class="ghost-cat text-center invst clbt ">
<h1 class="text-flicker-in-glow" style="animation-duration: 3s">Collectibles</h1>
  <p>With every strain drop and every new iteration, we're delivering collectibles</p>
</section>
<section class="three-sec">
  <div class="container-fluid">
    <ul class="three-imgs clearfix">
      <li><img src="{{'cb1.png' | asset_url}}" class="w-100 mb-4"></li>
       <li><img src="{{'cb2.png' | asset_url}}" class="w-100 mb-4"></li>
       <li><img src="{{'cb3.png' | asset_url}}" class="w-100 mb-4"></li>
    </ul>
  </div>
</section>
<div class="container-fluid">
  <p class="sz-lrg">You know we don't **** around. We 're out to do things a little differently. So when we launched into the legal market, we decided to introduce baseball-style collectible cards that carry the info and energy of our killer legacy strains.</p>
    <p class="sz-lrg">Every new drop, and every new season, we'll be dropping new cards. Collect this ever-expanding set - and keep an eye out for the extra-special, ultra-limited cards with the holograms on the back. </p>

  <div class="row">
    <div class="col-md-6">
      <div class="h-bd prd">
        <h3>Register your<br> collectible card</h3>
        
        <p>Complete this online form to enter our monthly Ghost Drops hoodie giveaway and gain early access to Crypto Drops.</p>
        <p>If you're luck enough to have found one of the ultra-rare hologram cards, there's an extra prize in the registration process.</p>
        <a href="" class="primary-btn">Let's do this</a>
      </div>
    </div> 
    <div class="col-md-6">
      <div class="bd-lft h-bd"> 
        <h3>Here's how<br> it works</h3>
     
        <p>For every jar you buy, you should receive 1 collectible card from the dispensary you buy from. Two jars = two cards, etcetera. You get the picture. </p>
        <div class="row">
          <div class="col-6">
          	  <img src="{{'hiw1.png' | asset_url}}" class="w-100 mb-4">
          </div>
          <div class="col-6">
           <img src="{{'hiw2.png' | asset_url}}" class="w-100 mb-4">
          </div>
        </div>
           <img src="{{'hiw3.jpg' | asset_url}}" class="lst-img">
      </div>
    </div>
  </div>
  <section class="hlw">
  <div class="row">
    <div class="col-md-8">
      <div class="hol-para">
        <h4>Holograms</h4>
        <p class="mb-5"><b>These are super rare collectibles. Just 1-in-50 strain collectibles features the extra-special Ghost Drops hologram on the back</b>. You're going to want to find one of these.</p>

<p>Think of them as your Golden Tickets. The gift that keeps on giving. Register [hyperlink] your holograms with us and find out what else we have in store for you. </p>
      </div>
    </div>
      <div class="col-md-4">
        <div class="img-nww">
         <img src="{{'hiw4.jpg' | asset_url}}" class="lst-hiw">
        </div>
    </div>
  </div>
    <div class="clb">
      <h3>Collectibles gallery</h3>
      <p>Check every past collectible, from every drop and every season. Over-expanding collection features different styles and details on every card. Collect them all.</p>
    </div>
    
    <div class="text-center">
      <a href="" class="primary-btn mt-5">View all</a>
    </div>
  </section>
</div>
