{%section 'toronto-section-slider' %} 
{%section 'toronto-left-img-right-text' %} 
{%section 'toronto-right-img-left-text' %} 
{%section 'toronto-logos' %} 
{%section 'toronto-map' %} 
{%section 'toronto-sixplus' %} 
{%section 'toronto-gd' %} 
{%section 'toronto-hours' %} 


<section class="section-img-left-new-right-text d-none">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6 pr-md-0">
  <div class="max-img-new">
    <a href="/collections"><img src="{{'menu-one.jpg' | asset_url }}" ></a>
  </div>
</div>
<div class="col-lg-6">
  <div class="left-spcz born-content">
      <div class="h-outer new-wd"><h2>The Best<span>Cannabis Menu In Toronto</span></h2></div>
      <p>Ghost Drops Toronto has the most finely curated cannabis menu in downtown Toronto with a focus on craft micro-producers and high-quality concentrates. We carry our own Ghost Drops line-up including our signature strains such as First Class Funk, Z-Splitter and Khalifa Mints.</p>
      <a href="/collections" class="primary-btn">View Our Menu</a>
  </div>
</div>
</div>
</div>
</section>
<section class="section-text-left-img-right d-none">
<div class="container-fluid">
<div class="row">
    <div class="col-lg-6  pl-md-0 mob-view">
   <div class="max-img-right">
                  <a href="/collections"><img class="w-100" src="{{'merch.jpg' | asset_url }}" ></a>
                
   </div>
</div>
    <div class="col-lg-6">
  <div class="born-content right-spc">
                    <div class="h-outer new-wd">
                    
                      <h2>Exclusive<span>Merch + Accessories</span>
</h2></div>
    <p>Our exclusive Ghost Drops apparel and merchandise is only available at our flagship store. Ghost Drops apparel, cannabis grinders, lighters, dab mats, rolling trays, air fresheners, stickers, collectible cards, drawstring bags and more. Our Capsule 1 collection including hoodies, crewnecks, sweatpants, longsleeves and more is available in-store only.  </p>			
    <a href="/collections" class="primary-btn">Shop Ghost Gear</a>
                </div>
</div>
<div class="col-lg-6  pl-md-0 dsk-view">
   <div class="max-img-right">
                  <a href="/collections"><img class="w-100" src="{{'merch.jpg' | asset_url }}" ></a>
                
   </div>
</div>

</div>

</div>

</section>
<section class="gd-logoz d-none">
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
  <ul class="gd-lg-list clearfix">
    <li><a href=""><img src="{{'gd-one.png' | asset_url }}"></a></li>
     <li><a href=""><img src="{{'gd-two.png' | asset_url }}"></a></li>
     <li><a href=""><img src="{{'gd-3.png' | asset_url }}"></a></li>
     <li><a href=""><img class="fourth" src="{{'gd-4.png' | asset_url }}"></a></li>
     <li><a href=""><img src="{{'gd-5.png' | asset_url }}"></a></li>
     <li><a href=""><img src="{{'gd-6.png' | asset_url }}"></a></li>
  </ul>
</div>
  <div class="col-md-6">
<div class="brands-carry">
<h2>Brands<span>We Carry</span></h2>
<p>Experience Canada’s Premium Cannabis Brand in-person. Take a photo in front of our notorious drip selfie wall, browse our iconic legacy strain art, learn more about Ghost Drops products and much more. Drop by between 5-8pm daily for Ghost Hour featuring guest budtenders, special pricing on Ghost Drops products and additional surprises!  </p>
<a href="/collections" class="primary-btn">Explore Now</a>
</div>
    
  </div>
</div>
</div>

</section>
<section class="gd-map d-none">
  <div class="container-fluid">
    <h2>Find The <img src="{{'gst-logo.svg' | asset_url }}"></h2>
  <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=GHOST%20DROPS%20TORONTO%20%20%201184%20QUEEN%20STREET%20WEST%20%20%20%20TORONTO,%20ON,%20M6J%201J5,%20CANADA%20+(Ghost%20Drops)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe></div> 
  </div>
</section>
<section class="six-plus d-none">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <div class="six-content">
      <h2>6ixDonutz<span>+ More</span></h2>
      <p>Ghost Drops Toronto is located in the adjoining space to 6ixDonutz, a delicious custom mini-donut purveyor. Toronto’s most popular day party, Cold Tea, occurs directly across the street from our shop every Sunday in the summer. Chen Chen’s Nashville Hot Chicken is also located in the adjoining space, providing hot fried chicken sandwiches.  </p>
    <a href="" class="primary-btn">Explore Now</a>
    </div>
    </div>
    <div class="col-md-6">
      <div class="donot">
        <img src="{{'donut.svg' | asset_url }}">
      </div>
    </div>
  </div>
  </div>
</section>
<section class="ghost-d position-relative d-none">
 <div class=" drop-black">
 <div class="drop-water drop-two-lines" data-drop="fade-down" data-drop-time="4000" data-drop-width="36" data-drop-height="250"></div>
 <div class="drop-water drop-three-lines" data-drop="fade-down" data-drop-time="2000" data-drop-width="36" data-drop-height="320"></div>
</div>
<div class="skw-bg"></div>
<div class="ghost-skw">

<h2>Ghost Drops<span>Toronto</span></h2>
<p>Ghost Drops Toronto is your premier destination for premium cannabis products in Toronto. We offer a wide selection of cannabis strains, edibles, beverages, capsules, oils, 510 vapes, disposable vapes, concentrates, hashish, pre-rolled joints, accessories and more – curated by the Ghost. We are proud to offer products from the best craft brands and micro-cultivators in the country. We carry an extensive line-up of our own Ghost Drops products in addition to a finely curated menu of craft cannabis. Located on Queen Street West, in the creative heart of downtown Toronto. </p>

</div>
</section>
<section class="address-btm d-none">
<div class="container-fluid">
  <div class="row">
<div class="col-xl-5 col-md-6 col-sm-6">
  <h3>GHOST DROPS TORONTO</h3>
  <p>1184 QUEEN STREET WEST  <br>

TORONTO, ON, <br>M6J 1J5, CANADA</p>
</div>
<div class="col-xl-7 col-md-6 col-sm-6">
  <h3>STORE HOURS:</h3>
                    <p>MON-THU: 10AM-10PM

FRI-SAT: 10AM-11PM<br>SUN: 10AM - 8PM</p>
  <a href="tel:(647) 345-4444">(647) 345-4444</a>
</div>
     </div>
</div>
</section>

